# Matemáticas Discretas

¡Hola! Bienvenidxs a la última sesión del módulo de Matemáticas Discretas. En esta sesión estaremos utilizando lo que hemos visto hasta el momento pero implementándolo en Python.

Esta libreta de Google Colaboratory está dividida en dos secciónes:
1. **Lógica Proposicional:** 
  * Repaso de Lógica Proposicional con sus tablas de verdad en Python.
  * Creación de nuevas tablas de verdad.
  * Ejercicios donde sea necesario resolver mediante lógica proposicional.
2. **Teoría de Conjuntos:**
  * Repaso de Teoría de Conjuntos con Python.
  * Ejercicios donde se puedan visualizar conjuntos.
  * Simulación de SQL en Python.

El contenido de **Teoría de Grafos** se enviará esta semana en otra libreta de Google Colaboratory y te hará un tutorial de cómo manejar algunos conceptos de grafos en Python. Además, en la misma libreta de Colab te daré algunas ideas de proyectos guiados que pudieran ayudarte a iniciar en Ciencia de Datos en caso de que estés interesadx.

Antes de continuar, te pediremos que corras la siguiente celda para que puedas incializar todas las paqueterías de Python que estaremos utilizando (Pandas y Numpy). Es necesario correr las celdas porque si no el resto del colab pudiera tener problemas.

In [1]:
# @title Instalación de paqueterías y actualizaciones necesarias para hacer los ejercicios

# Actualizar librerías
!pip install pandas --upgrade --quiet
!pip install numpy --upgrade --quiet

import pandas as pd
import numpy as np
import itertools

# Lógica Proposicional

In [2]:
# @title Inicialización de Variables

# Variables que usaremos para las proposiciones: A, B, C, P, Q, R.
C = [True, False]
A = [True, True, False, False]
B = [True, False, True, False]
P = [True, True, True, True, False, False, False, False]
Q = [True, True, False, False, True, True, False, False]
R = [True, False, True, False, True, False, True, False]

## Repaso de Lógica Proposicional

Recordemos que los operadores lógicos son:
1. Negación (NOT)
2. Conjunción (AND)
3. Disyunción (OR)
4. Disyunción exclusiva (XOR)
5. (Buffer)
6. (NAND)
7. (NOR)
8. (XNOR)
9. Condicional (THEN)
10. Bicondicional (IFF)

### Negación (Not)
La tabla de verdad asociada a la operación booleana `not` es la siguiente:

|  C  | not C |
|:---:|:-----:|
|  T  |   F   |
|  F  |   T   |

In [3]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea

# raise NotImplementedError("Aplica el operador lógico.")
########################################################################

notC = [None]*2 # guarda dos valores que no tienen valor
for i in range(2):
  notC[i] = not C[i]

print(notC)

[False, True]

In [4]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea

# raise NotImplementedError("Convierte a dataframe e imprìmelo.")
########################################################################

tablaNOT = {'C': C, 'Not C': notC}
tablaNOT_df = pd.DataFrame(tablaNOT)

print(tablaNOT_df)

       C  Not C
0   True  False
1  False   True

### Conjunción (And)
La tabla de verdad asociada a la operación booleana `and` es la siguiente:

|  A  |  B  | A and B |
|:---:|:---:|:-------:|
|  T  |  T  |    T    |
|  T  |  F  |    F    |
|  F  |  T  |    F    |
|  F  |  F  |    F    |

In [5]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Aplica el operador lógico.")
########################################################################

AandB = [None]*4
for i in range(4):
  AandB[i] = A[i] and B[i]

print(AandB)

[True, False, False, False]

In [6]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Convierte a dataframe e imprìmelo.")
########################################################################

tablaAND = {'A': A, 'B': B, 'A and B': AandB}
tablaAND_df = pd.DataFrame(tablaAND)

print(tablaAND_df)

       A      B  A and B
0   True   True     True
1   True  False    False
2  False   True    False
3  False  False    False

### Disyunción (Or)
La tabla de verdad asociada a la operación booleana `or` es la siguiente:

|  A  |  B  | A or B  |
|:---:|:---:|:-------:|
|  T  |  T  |    T    |
|  T  |  F  |    T    |
|  F  |  T  |    T    |
|  F  |  F  |    F    |

In [7]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Aplica el operador lógico.")
########################################################################

AorB = [None]*4
for i in range(4):
  AorB[i] = A[i] or B[i]

print(AorB)

[True, True, True, False]

In [8]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Convierte a dataframe e imprìmelo.")
########################################################################

tablaOR = {'A': A, 'B': B, 'A or B': AorB}
tablaOR_df = pd.DataFrame(tablaOR)

print(tablaOR_df)

       A      B  A or B
0   True   True    True
1   True  False    True
2  False   True    True
3  False  False   False

### Disyunción exclusiva (XOR)
La tabla de verdad asociada a la operación booleana `xor` es la siguiente:

|  A  |  B  | A xor B |
|:---:|:---:|:-------:|
|  T  |  T  |    F    |
|  T  |  F  |    T    |
|  F  |  T  |    T    |
|  F  |  F  |    F    |

In [9]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Aplica el operador lógico.")
########################################################################

AxorB = [None]*4
for i in range(4):
  AxorB[i] = A[i] ^ B[i]

print(AxorB)

[False, True, True, False]

In [10]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Convierte a dataframe e imprìmelo.")
########################################################################

tablaXOR = {'A': A, 'B': B, 'A xor B': AxorB}
tablaXOR_df = pd.DataFrame(tablaXOR)

print(tablaXOR_df)

       A      B  A xor B
0   True   True    False
1   True  False     True
2  False   True     True
3  False  False    False

### NAND

La tabla de verdad asociada a la operación booleana `nand` es la siguiente:

|  A  |  B  | A nand B|
|:---:|:---:|:-------:|
|  T  |  T  |    F    |
|  T  |  F  |    T    |
|  F  |  T  |    T    |
|  F  |  F  |    T    |

In [11]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Aplica el operador lógico.")
########################################################################

AnandB = [None]*4
for i in range(4):
  AnandB[i] = not (A[i] and B[i])

print(AnandB)

[False, True, True, True]

In [12]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Convierte a dataframe e imprìmelo.")
########################################################################

tablaNAND = {'A': A, 'B': B, 'A nand B': AnandB}
tablaNAND_df = pd.DataFrame(tablaNAND)

print(tablaNAND_df)

       A      B  A nand B
0   True   True     False
1   True  False      True
2  False   True      True
3  False  False      True

**Observación:** Es equivalente a la operación AND negada.

In [13]:
print(tablaAND_df)

       A      B  A and B
0   True   True     True
1   True  False    False
2  False   True    False
3  False  False    False

### NOR

La tabla de verdad asociada a la operación booleana `nor` es la siguiente:

|  A  |  B  | A nor B |
|:---:|:---:|:-------:|
|  T  |  T  |    F    |
|  T  |  F  |    F    |
|  F  |  T  |    F    |
|  F  |  F  |    T    |

In [14]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Aplica el operador lógico.")
########################################################################

AnorB = [None]*4
for i in range(4):
  AnorB[i] = not(A[i] or B[i])

print(AnorB)

[False, False, False, True]

In [15]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Convierte a dataframe e imprìmelo.")
########################################################################

tablaNOR = {'A': A, 'B': B, 'A nor B': AnorB}
tablaNOR_df = pd.DataFrame(tablaNOR)

print(tablaNOR_df)

       A      B  A nor B
0   True   True    False
1   True  False    False
2  False   True    False
3  False  False     True

**Observación:** Es equivalente a la operación OR negada.

In [16]:
print(tablaOR_df)

       A      B  A or B
0   True   True    True
1   True  False    True
2  False   True    True
3  False  False   False

### XNOR

La tabla de verdad asociada a la operación booleana `xnor` es la siguiente:

|  A  |  B  | A xnor B|
|:---:|:---:|:-------:|
|  T  |  T  |    T    |
|  T  |  F  |    F    |
|  F  |  T  |    F    |
|  F  |  F  |    T    |

In [17]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Aplica el operador lógico.")
########################################################################

AxnorB = [None]*4
for i in range(4):
  AxnorB[i] = not(A[i] ^ B[i])

print(AxnorB)

[True, False, False, True]

In [18]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Convierte a dataframe e imprìmelo.")
########################################################################

tablaXNOR = {'A': A, 'B': B, 'A xnor B': AxnorB}
tablaXNOR_df = pd.DataFrame(tablaXNOR)

print(tablaXNOR_df)

       A      B  A xnor B
0   True   True      True
1   True  False     False
2  False   True     False
3  False  False      True

**Observación:** Es equivalente a la operación XOR negada.

In [19]:
print(tablaXOR_df)

       A      B  A xor B
0   True   True    False
1   True  False     True
2  False   True     True
3  False  False    False

### Condicional (THEN)
La tabla de verdad asociada a la operación booleana `then` es la siguiente:

|  A  |  B  | A then B|
|:---:|:---:|:-------:|
|  T  |  T  |    T    |
|  T  |  F  |    F    |
|  F  |  T  |    T    |
|  F  |  F  |    T    |

In [20]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
#raise NotImplementedError("Aplica el operador lógico.")
########################################################################

AthenB = [None]*4
for i in range(4):
  AthenB[i] = A[i] <= B[i]

print(AthenB)

[True, False, True, True]

In [21]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Convierte a dataframe e imprìmelo.")
########################################################################

tablaTHEN = {'A': A, 'B': B, 'A then B': AthenB}
tablaTHEN_df = pd.DataFrame(tablaTHEN)

print(tablaTHEN_df)

       A      B  A then B
0   True   True      True
1   True  False     False
2  False   True      True
3  False  False      True

**Observación:** Es equivalente a la operación lógica $\neg A \vee B$

In [22]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Aplica el operador lógico.")
########################################################################

notA    = [None]*4
notAorB = [None]*4

for i in range(4):
  notA[i]    = not A[i]
  notAorB[i] = notA[i] or B[i]

print(notAorB)

[True, False, True, True]

In [23]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Convierte a dataframe e imprìmelo.")
########################################################################

tablaCOMPUESTA = {'A': A, 'B': B, 'not A': notA, 'not A or B': notAorB}
tablaCOMPUESTA_df = pd.DataFrame(tablaCOMPUESTA)

print(tablaCOMPUESTA_df)
print(tablaTHEN_df)

       A      B  not A  not A or B
0   True   True  False        True
1   True  False  False       False
2  False   True   True        True
3  False  False   True        True
       A      B  A then B
0   True   True      True
1   True  False     False
2  False   True      True
3  False  False      True

### Bicondicional (IFF)
La tabla de verdad asociada a la operación booleana `iff` es la siguiente:

|  A  |  B  | A iff B |
|:---:|:---:|:-------:|
|  T  |  T  |    T    |
|  T  |  F  |    F    |
|  F  |  T  |    F    |
|  F  |  F  |    T    |

In [24]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Aplica el operador lógico.")
########################################################################

AiffB = [None]*4
for i in range(4):
  AiffB[i] = A[i] == B[i]

print(AiffB)

[True, False, False, True]

In [25]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Aplica el operador lógico.")
########################################################################

# Segunda forma
AiffB = [None]*4
for i in range(4):
  AiffB[i] = A[i] <= B[i] and B[i] <= A[i]

print(AiffB)

[True, False, False, True]

In [26]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Aplica el operador lógico.")
########################################################################

# Tercera forma
AiffB = [None]*4
for i in range(4):
  AiffB[i] = not(A[i] ^ B[i])

print(AiffB)

[True, False, False, True]

In [27]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Convierte a dataframe e imprìmelo.")
########################################################################

tablaIFF = {'A': A, 'B': B, 'A then B': AiffB}
tablaIFF_df = pd.DataFrame(tablaIFF)

print(tablaIFF_df)

       A      B  A then B
0   True   True      True
1   True  False     False
2  False   True     False
3  False  False      True

**Observación:** Es equivalente a la operación XNOR.

In [28]:
print(tablaXNOR_df)

       A      B  A xnor B
0   True   True      True
1   True  False     False
2  False   True     False
3  False  False      True

## Ejercicios de Lógica Proposicional

Escribe código que obtenga los valores de verdad de las siguientes proposiciones:
1. $a \wedge \neg b$
2. $(a \wedge b) \wedge \neg a$
3. $\neg p \vee \neg(q \wedge r)$
4. $\neg (p \wedge q) \vee (\neg q \vee r)$

Recordatorio: Usar las variables `A` y `B` cuando se usen dos proposiciones y `P`, `Q`, `R` cuando se usen tres proposiciones

In [67]:
########################################################################
## POR HACER por los estudiantes
## Escribe el código que genere la tabla de verdad para el ejercicio 1)
# raise NotImplementedError("Contesta el ejercicio 1.")
########################################################################

# a∧¬b

AanB = []
nB = []

for i in range(len(A)):
  nB.append(not B[i])
  AanB.append(A[i] and nB[i])

AanB

[False, True, False, False]

In [68]:
tablaAanB = {'A': A, 'B': B, 'not B': nB, 'A and (not B)': AanB}
tablaAanB_df = pd.DataFrame(tablaAanB)

print(tablaAanB_df)

       A      B  not B  A and (not B)
0   True   True  False          False
1   True  False   True           True
2  False   True  False          False
3  False  False   True          False

In [69]:
########################################################################
## POR HACER por los estudiantes
## Escribe el código que genere la tabla de verdad para el ejercicio 2)
# raise NotImplementedError("Contesta el ejercicio 2.")
########################################################################

# (a∧b)∧¬a
AaBanA = []
nA = []

for i in range(len(A)):
  nA.append(not A[i])
  AaBanA.append(AandB[i] and nA[i])

print(AaBanA)

[False, False, False, False]

In [71]:
print(tablaAND_df)

tablaAaBanA = {'A and B': AandB, 'not A': nA, '(A and B) and (not A)': AaBanA}
tablaAaBanA_df = pd.DataFrame(tablaAaBanA)

print(tablaAaBanA_df)

       A      B  A and B
0   True   True     True
1   True  False    False
2  False   True    False
3  False  False    False
   A and B  not A  (A and B) and (not A)
0     True  False                  False
1    False  False                  False
2    False   True                  False
3    False   True                  False

In [75]:
_########################################################################
## POR HACER por los estudiantes
## Escribe el código que genere la tabla de verdad para el ejercicio 3)
# raise NotImplementedError("Contesta el ejercicio 3.")
########################################################################

# ¬p∨¬(q∧r)

nP = []
QaR = []
nQaR = []
nPonQaR = []

for i in range(len(Q)):
  nP.append(not P[i])
  QaR.append(Q[i] and R[i])
  nQaR.append(not QaR[i])
  nPonQaR.append(nP[i] or nQaR[i])
  
nPonQaR

[False, True, True, True, True, True, True, True]

In [77]:
tablanPonQaR = { 'P': P,'Q': Q,'R': R,'Q and R': QaR,'not P': nP,'not (Q and R)': nQaR,'not P or (not(Q and R))': nPonQaR }
tablanPonQaR_df = pd.DataFrame(tablanPonQaR)

print(tablanPonQaR_df)

       P      Q      R  Q and R  not P  not (Q and R)  not P or (not(Q and R))
0   True   True   True     True  False          False                    False
1   True   True  False    False  False           True                     True
2   True  False   True    False  False           True                     True
3   True  False  False    False  False           True                     True
4  False   True   True     True   True          False                     True
5  False   True  False    False   True           True                     True
6  False  False   True    False   True           True                     True
7  False  False  False    False   True           True                     True

In [78]:
########################################################################
## POR HACER por los estudiantes
## Escribe el código que genere la tabla de verdad para el ejercicio 4)
# raise NotImplementedError("Contesta el ejercicio 4.")
########################################################################

# ¬(p∧q)∨(¬q∨r)
PaQ = []
nPaQ = []
nQ = []
nQoR = []
nPaQonQoR = []

for i in range(len(P)):
  PaQ.append(P[i] and Q[i])
  nPaQ.append(not PaQ[i])
  nQ.append(not Q[i])
  nQoR.append(nQ[i] or R[i])
  nPaQonQoR.append(nPaQ[i] or nQoR[i])

nPaQonQoR

[True, False, True, True, True, True, True, True]

In [80]:
tablanPaQonQoR = { 'P': P,'R': R,'Q': Q,'not Q': nQ,'P and Q': PaQ,'not(P and Q)': nPaQ,'(not Q) or R': nQoR,'not(P and Q) or ((not Q) or R)': nPaQonQoR }
tablanPaQonQoR_df = pd.DataFrame(tablanPaQonQoR)

print(tablanPaQonQoR_df)

       P      R      Q  not Q  P and Q  not(P and Q)  (not Q) or R  \
0   True   True   True  False     True         False          True
1   True  False   True  False     True         False         False
2   True   True  False   True    False          True          True
3   True  False  False   True    False          True          True
4  False   True   True  False    False          True          True
5  False  False   True  False    False          True         False
6  False   True  False   True    False          True          True
7  False  False  False   True    False          True          True

   not(P and Q) or ((not Q) or R)
0                            True
1                           False
2                            True
3                            True
4                            True
5                            True
6                            True
7                            True

# Teoría de Conjuntos

## Repaso de Teoría de Conjuntos

Recordemos que las operaciones en conjuntos son:
1. Cardinalidad
2. Complemento (equivalente al NOT)
3. Igualdad (equivalente al Buffer)
4. Intersección (equivalente al AND)
5. Unión (equivalente al OR)
6. Diferencia
7. Diferencia simétrica (equivalente al XOR)
8. Producto Cartesiano

Para repasar estos conceptos, vamos a crear:
- Nuestro conjunto universo `setU` formado por todos los números naturales del 1 al 100
- `setA` formado por todos los números pares (es decir, múltiplos de 2) del universo
- `setB` formado por todos los números que son múltiplos de 3
- `setC` formado por todos los números que son múltiplos de 5

In [34]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Construye los conjuntos mencionados arriba.")
########################################################################

setU = []
setA = []
setB = []
setC = []

for i in range(101):
  setU.append(i)
  if(i % 2 == 0):
    setA.append(i)
  if(i % 3 == 0):
    setB.append(i)
  if(i % 5 == 0):
    setC.append(i)

setU = set(setU)
setA = set(setA)
setB = set(setB)
setC = set(setC)

setC

{0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100}

### Cardinalidad

Nos devuelve el tamaño del conjunto. Para obtener la cardinalidad en Python nos apoyamos de la función `len(...)`.

Escribe un código que nos muestre el tamaño del conjunto `setC`.

In [35]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Obtén la cardinalidad de setC.")
########################################################################

len(setC)

21

### Intersección (equivalente al AND)

Nos devuelve los valores que estén tanto en A como en B. Para usar esta operación en Python, utilizamos el operador `&`.

Escribe un código que una los elementos de `setA` con los de `setB`. ¿Qué características tienen estos elementos?

In [36]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Realiza la intersección de conjuntos setA con setB.")
########################################################################

setA & setB

{0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96}

### Unión (equivalente al OR)

Nos devuelve los valores que estén en A o que estén en B (o ambos). Para usar esta operación en Python, utilizamos el operador `|`.

Escribe un código que te una los elementos del conjunto `setB` con el conjunto `setC`.

In [37]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Realiza la unión de conjuntos setB con setC.")
########################################################################

setB | setC

{0,
 3,
 5,
 6,
 9,
 10,
 12,
 15,
 18,
 20,
 21,
 24,
 25,
 27,
 30,
 33,
 35,
 36,
 39,
 40,
 42,
 45,
 48,
 50,
 51,
 54,
 55,
 57,
 60,
 63,
 65,
 66,
 69,
 70,
 72,
 75,
 78,
 80,
 81,
 84,
 85,
 87,
 90,
 93,
 95,
 96,
 99,
 100}

### Diferencia

La diferencia de A con B ($A - B$) nos devuelven los valores que estén en A pero que no estén en B. Para usar esta operación en Python, utilizamos el método `.difference(...)`, donde en colocaremos el conjunto que queramos restar.

Escribe un código que te regrese la diferencia del conjunto `setU` con el conjunto `setA`. ¿Qué valores te están dando?

In [38]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Realiza la resta de conjuntos setU-setA.")
########################################################################

setU.difference(setA)

{1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99}

Escribe un código que te regrese la diferencia del conjunto `setA` con el conjunto `setC`. ¿Qué valores te están dando?

In [39]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Realiza la resta de conjuntos setA-setC.")
########################################################################

setA.difference(setC)

{2,
 4,
 6,
 8,
 12,
 14,
 16,
 18,
 22,
 24,
 26,
 28,
 32,
 34,
 36,
 38,
 42,
 44,
 46,
 48,
 52,
 54,
 56,
 58,
 62,
 64,
 66,
 68,
 72,
 74,
 76,
 78,
 82,
 84,
 86,
 88,
 92,
 94,
 96,
 98}

###Diferencia Simétrica (equivalente al XOR)

La diferencia de A con B ($A \triangle B$) nos devuelven los valores que estén en A ó que estén B pero que no estén en ambos. Para usar esta operación en Python, utilizamos el método `.symmetric_difference(...)`, donde en colocaremos el conjunto que queramos restar.

Escribe un código que te regrese la diferencia simétrica del conjunto `setA` con el conjunto `setC`. ¿Qué valores te están dando? ¿Son distintos a lo que obtuvimos en la celda anterior?

In [40]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Realiza la resta simétrica de conjuntos setA y setC.")
########################################################################

setA.symmetric_difference(setC)

{2,
 4,
 5,
 6,
 8,
 12,
 14,
 15,
 16,
 18,
 22,
 24,
 25,
 26,
 28,
 32,
 34,
 35,
 36,
 38,
 42,
 44,
 45,
 46,
 48,
 52,
 54,
 55,
 56,
 58,
 62,
 64,
 65,
 66,
 68,
 72,
 74,
 75,
 76,
 78,
 82,
 84,
 85,
 86,
 88,
 92,
 94,
 95,
 96,
 98}

### Producto Cartesiano

El producto cartesiano nos arroja los pares ordenados de los elementos de dos conjuntos. En Python nos apoyaremos de la función `product(..., ...)` de la paquetería `itertools` para obtener el producto cartesiano.

Para que no sea tan grande el resultado, corre la siguiente celda para obtener `setD` con `setE` ($D \times E$) y después implementa el producto cartesiano entre estos dos nuevos conjuntos.

In [41]:
setD = set(["Alberto","Beatriz","Carlos","Diana"])
setE = set(["amarillo","rojo","azul"])
setF = set(['Mercurio','Júpiter','Plutón'])

In [42]:
########################################################################
## POR HACER por los estudiantes
## Completa todos los ... en el código debajo y quita la siguiente línea
# raise NotImplementedError("Obtén el producto cartesiano entre los conjuntos setD y setC.")
########################################################################

productoCartesianoDE = []

for element in itertools.product(setD, setE):
    productoCartesianoDE.append(element)

productoCartesianoDE = set(productoCartesianoDE)

productoCartesianoDE

{('Alberto', 'amarillo'),
 ('Alberto', 'azul'),
 ('Alberto', 'rojo'),
 ('Beatriz', 'amarillo'),
 ('Beatriz', 'azul'),
 ('Beatriz', 'rojo'),
 ('Carlos', 'amarillo'),
 ('Carlos', 'azul'),
 ('Carlos', 'rojo'),
 ('Diana', 'amarillo'),
 ('Diana', 'azul'),
 ('Diana', 'rojo')}

Corre la siguiente celda para obtener $E \times D$. ¿Es igual este producto a lo que obtuvimos anteriormente?

In [43]:
########################################################################
# Sólo ejecuta esta celda. No es necesario escribir nada.
########################################################################

productoCartesianoED = []

for element in itertools.product(setE, setD):
    productoCartesianoED.append(element)

productoCartesianoED = set(productoCartesianoED)

productoCartesianoED

{('amarillo', 'Alberto'),
 ('amarillo', 'Beatriz'),
 ('amarillo', 'Carlos'),
 ('amarillo', 'Diana'),
 ('azul', 'Alberto'),
 ('azul', 'Beatriz'),
 ('azul', 'Carlos'),
 ('azul', 'Diana'),
 ('rojo', 'Alberto'),
 ('rojo', 'Beatriz'),
 ('rojo', 'Carlos'),
 ('rojo', 'Diana')}

Escribe en la siguiente celda el código que usarías para comparar ambos conjuntos y determinar si son los mismos o no.

In [44]:
productoCartesianoDE == productoCartesianoED

False

In [45]:

productoCartesianoEDF = []

for element in itertools.product(setE, setD, setF):
    productoCartesianoEDF.append(element)

productoCartesianoEDF = set(productoCartesianoEDF)

productoCartesianoEDF

{('amarillo', 'Alberto', 'Júpiter'),
 ('amarillo', 'Alberto', 'Mercurio'),
 ('amarillo', 'Alberto', 'Plutón'),
 ('amarillo', 'Beatriz', 'Júpiter'),
 ('amarillo', 'Beatriz', 'Mercurio'),
 ('amarillo', 'Beatriz', 'Plutón'),
 ('amarillo', 'Carlos', 'Júpiter'),
 ('amarillo', 'Carlos', 'Mercurio'),
 ('amarillo', 'Carlos', 'Plutón'),
 ('amarillo', 'Diana', 'Júpiter'),
 ('amarillo', 'Diana', 'Mercurio'),
 ('amarillo', 'Diana', 'Plutón'),
 ('azul', 'Alberto', 'Júpiter'),
 ('azul', 'Alberto', 'Mercurio'),
 ('azul', 'Alberto', 'Plutón'),
 ('azul', 'Beatriz', 'Júpiter'),
 ('azul', 'Beatriz', 'Mercurio'),
 ('azul', 'Beatriz', 'Plutón'),
 ('azul', 'Carlos', 'Júpiter'),
 ('azul', 'Carlos', 'Mercurio'),
 ('azul', 'Carlos', 'Plutón'),
 ('azul', 'Diana', 'Júpiter'),
 ('azul', 'Diana', 'Mercurio'),
 ('azul', 'Diana', 'Plutón'),
 ('rojo', 'Alberto', 'Júpiter'),
 ('rojo', 'Alberto', 'Mercurio'),
 ('rojo', 'Alberto', 'Plutón'),
 ('rojo', 'Beatriz', 'Júpiter'),
 ('rojo', 'Beatriz', 'Mercurio'),
 ('rojo', 'Beatriz', 'Plutón'),
 ('rojo', 'Carlos', 'Júpiter'),
 ('rojo', 'Carlos', 'Mercurio'),
 ('rojo', 'Carlos', 'Plutón'),
 ('rojo', 'Diana', 'Júpiter'),
 ('rojo', 'Diana', 'Mercurio'),
 ('rojo', 'Diana', 'Plutón')}